//<<<<<<<colors>>>>>>>>>>>


$bg-dark: #171918;
$text-grey: #868585;

// <<<<<<<<<<<<<width>>>>>>>>>>>

$desktop-large-width: 1900px;
$desktop-big-width: 1440px;
$desktop-small-width: 1226px;
$big-tablet-width: 1024px;
$tablet-width: 900px;
$mobile-width: 480px;
$small-mobile-width: 375px;
